{{#extends "base"}}


{{#block "javascript"}}
{{/block}}

{{#block "content"}}

<h1>See All Customers</h1>
    <h2>Search</h2>
    <form id="search-form" method="GET" action="">
        <div>
            <label for="first_name">First Name</label>
            <input id="first_name" type="text" name="first_name" class="form-control" value="{{searchTerms.first_name}}"/>
        </div>
        <div>
            <label for="last_name">Last Name</label>
            <input id="last_name" type="text" name="last_name" class="form-control" value="{{searchTerms.last_name}}" />
        </div>
        <input type="submit" value="Search" class="mt-3 btn-primary btn"/>
        {{!-- <input type="submit" value="Reset Search" id="clear-search" class="mt-3 btn-primary btn"/> --}}
    </form>


<h2 class="mt-3">Customers</h2>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rating</th>
            <th>Company</th>
        </tr>
    </thead>
    {{#each customers}}
    <tr>
        <td>
            {{this.customers.first_name}}
        </td>
        <td>
            {{this.customers.last_name}}
        </td>
        <td>
            {{this.customers.rating}}
        </td>
        <td>
            {{this.companies.name}}
        </td>
        <td>
            <a href="/customers/{{customers.customer_id}}/update" class="btn btn-primary btn-sm">Edit</a>
            <a href="/customers/{{customers.customer_id}}/delete" class="btn btn-danger btn-sm">Delete</a>

        </td>
    </tr>
    {{/each}}

</table>
<a class="btn btn-primary" href="/customers/create">Add Customer</a>

{{/block}}

{{/extends}}